html {
  font-family: Georgia, serif;
  color: #fff;
}

.banner-text {
  background-color: #495562;
}

.btn-ghost {
  color: #fff;
  border-color: #97a49b;
}

.btn-ghost:hover {
  background-color: #efefef;
  color: #495562;
  border-color: inherit;
}

@media only screen and (min-width: 38em) {

  .book {
    text-align: right;
  }

}

@media only screen and (min-width: 60em) {

  .image-height {
    max-height: 500px;
    overflow: hidden;
  }

  main {
    position: relative;
  }

  .banner-text {
    background-color: transparent;
    background-image: linear-gradient(to bottom, transparent, rgba(73, 85, 98, .9));
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }

}
