html {
  font-family: Georgia, serif;
  color: #fff;
}

img {
  max-height: 500px;
}

.banner-text {
  max-width: 960px;
  background-color: #495562;
}

.btn-ghost {
  color: #fff;
  border-color: #97a49b;
}
